---
layout: default
heading: 
  image: 
   - background_image: /images/temporary-images/bai-1.jpg
     image_focus: center
     title: International Women's Day 2024
     subtitle: Inspiring women in Bali's design community
   - background_image: /images/temporary-images/bai-2.jpg
     image_focus: center
     title: Casa Sofia and Castle Lunita
     subtitle: Breathtaking new uluwatu villas
   - background_image: /images/temporary-images/bai-3.jpg
     image_focus: center
     title: Candidasa Villa Blanca
     subtitle: Best beachront villa in Bali
   - background_image: /images/temporary-images/bai-4.jpg
     image_focus: center
     title: Nyepi Festival 2024
     subtitle: The best hotels for nyepi festival in Bali
   - background_image: /images/temporary-images/bai-5.jpg
     image_focus: center
     title: Lorem Ipsum Dolor Sit
     subtitle: Consectetur adipiscing elit, sed do eiusmod
   - background_image: /images/temporary-images/bai-6.jpg
     image_focus: center
     title: Labore et Dolore Magna
     subtitle: Ut enim ad minim veniam quis nostrud exercitation
about: 
  description_html: We are <em>creators</em> of <em>interiors</em> and <em>lifestyle images</em>. Through our media channels, we help businesses <em>reach millions of people</em> worldwide.
  background-image: 
    background_image: /images/temporary-images/bali-9.png
    background_position: right
seo:
  title: Bali Interiors
  description:
  keywords:
  social_image:
  hide-from-google: false
---


<!-- Hero Banner -->
<section>
    <div class="slider-container">
        {% for item in page.heading.image %}
        <div class="slider-item bg-image-style min-h-[85vh] relative"
             style="background-image: url('{{ item.background_image }}'); background-position: {{ item.image_focus }};">
            <div class="text-overlay p-8 bg-medium/80 text-light absolute bottom-0 left-0">
                <p class="serif-md">{{item.title}}</p>
                <p class="text-[1.1rem]">{{item.subtitle}}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</section>



<!-- About -->
<section class="grid grid-cols-5">
    <div id="parallax-background" class="col-span-3 bg-no-repeat bg-contain parallax-background" style="background-image: url('{{page.about.background-image.background_image}}'); background-position: right bottom;">
        <div class="flex items-center" style="height: 100%;">
            <p class="sans-md text-dark p-10p w-[80%]">{{page.about.description_html}}</p>
        </div>
    </div>    
    
    <div class="col-span-2 bg-dark text-light p-10p">
        <h2 class="serif-md capitalize">Work with us</h2>
        <p>Let's Connect</p>
        <form class="text-[1.1rem]">
            <div class="mb-4">
                <input type="text" id="first-name" name="first-name" class="block w-full border-b border-light bg-transparent">
                <label for="first-name">First Name:</label>
            </div>

            <div class="mb-4">
                <input type="text" id="last-name" name="last-name" class="block w-full border-b border-light bg-transparent">
                <label for="last-name">Last Name:</label>
            </div>

            <div class="mb-4">
                <input type="text" id="company" name="company" class="block w-full border-b border-light bg-transparent">
                <label for="company">Company:</label>
            </div>

            <div class="mb-4">
                <label for="service" class="block mb-4">How can we help you?</label>
                <div class="mb-2">
                    <input type="checkbox" id="photography-villas" name="service[]" value="photography-villas">
                    <label for="photography-villas">Photography for Villas & Venus</label>
                </div>
                <div class="mb-2">
                    <input type="checkbox" id="photography-product" name="service[]" value="photography-product">
                    <label for="photography-product">Product Photography</label>
                </div>
                <div class="mb-2">
                    <input type="checkbox" id="styling" name="service[]" value="styling">
                    <label for="styling">Styling</label>
                </div>
                <div class="mb-2">
                    <input type="checkbox" id="videos" name="service[]" value="videos">
                    <label for="videos">Videos</label>
                </div>
                <div class="mb-2">
                    <input type="checkbox" id="advertising" name="service[]" value="advertising">
                    <label for="advertising">Advertising</label>
                </div>
                <div class="mb-2">
                    <input type="checkbox" id="other" name="service[]" value="other">
                    <label for="other">Other</label>
                </div>
            </div>

            <div class="mb-4">
                <input type="email" id="email" name="email" class="block border-b border-light bg-transparent w-full">
                <label for="email">Email:</label>
            </div>

            <button type="submit" class="button-form">Send</button>
        </form>
    </div>
    </form>
    </div>
</section>

<!-- Retreat Section -->
<section class="grid grid-cols-3">
    <div>
        <h2>Design & Interiors Retreat in Bali</h2>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</p>
    </div>
    <div class=”youtube-container”>
        <div class='embed-container'>
            <iframe src='https://www.youtube.com/embed/l0dbMaWb5m4?si=SQUYFTt3G62BZmR6' frameborder='0'
                allowfullscreen></iframe>
        </div>
    </div>
</section>

<!-- Articles Section -->
<section class="grid grid-cols-2">
    <!-- Build Diary -->
    <div>
        <div class="bg-image-style h-[30vh]" style="background-image: url('#');">
        </div>
        <h2>Build Diary</h2>
        <p>Read all about the process of building a villa in Bali. We meet different people and accompany them during
            the building process with all ups and downs.</p>
        <a href="#">Read more</a>
    </div>
    <!-- Latest Articles -->
    <div>
        <div class="columns-2">

            {% for post in site.posts limit:8 %}

            <a class="reak-inside-avoid block mb-4" href="{{post.url}}">
                <div class="bg-image-style min-h-[20vw] relative">
                    <img src="{{post.featured_image}}" alt="{{post.title}}"
                        class="absolute inset-0 w-full h-full object-cover">
                </div>
                <div class="relative">
                    <h2>{{post.title}}</h2>
                    <p class="line-clamp-2 mb-4">{{post.description}}</p>
                    <p class="underline-offset-4">Read More</p>
                </div>
            </a>

            {% endfor %}

        </div>
        <div class="w-full text-center">
            <a href="#" class="button mt-5p mx-5p">Read all articles</a>
        </div>
    </div>
</section>

<!-- Peak In Paradise -->
<section>
    <div class="flex justify-between mb-4">
        <h2>Recently on A Peek In Paradise</h2>
    </div>
    <div class="grid grid-cols-3">

        {% assign series_posts = site.posts | where: 'series', 'a-peek-in-paradise' %}

        {% for post in series_posts limit:3 %}

        <div>
            <a class="break-inside-avoid block mb-4" href="{{post.url}}">
                <div class="bg-image-style min-h-[20vw] relative">
                    <img src="{{post.featured_image}}" alt="{{post.title}}"
                        class="absolute inset-0 w-full h-full object-cover">
                </div>
                <div class="relative">
                    <h2>{{post.title}}</h2>
                    <p class="line-clamp-2 mb-4"> {{post.description}}</p>
                    <p>Read More</p>
                </div>
            </a>
        </div>

        {% endfor %}

    </div>
</section>

<!-- Work Featured In -->
<section>
    <h2>Our photographs have been published in</h2>
    <div class="grid grid-cols-5 gap-4">
        <img src="/images/logos/logo-1.webp">
        <img src="/images/logos/logo-2.webp">
        <img src="/images/logos/logo-3.webp">
        <img src="/images/logos/logo-4.webp">
        <img src="/images/logos/logo-5.webp">
    </div>
</section>

<!-- Shop -->
<section>
    <h2>BI Home shop</h2>
    <p>We thrive to bring a fusion of island life and sophistication to your home. Slow paced homewares that have been
        carefully curated, designed by our team and handmade by Indonesian craftsmen and artisans.</p>
    <div class="grid grid-cols-3">
        <!-- Prints -->
        <div class="bg-image-style min-h-[50vh]" style="background-image: url('#');">
            <h4>Prints collection</h4>
            <a class="button" href="#">Shop</a>
        </div>

        <!-- Cushon Covers -->
        <div class="bg-image-style min-h-[50vh]" style="background-image: url('#');">
            <h4>Cushon covers</h4>
            <a class="button" href="#">Shop</a>
        </div>

        <!-- Throws -->
        <div class="bg-image-style min-h-[50vh]" style="background-image: url('#');">
            <h4>Throws collection</h4>
            <a class="button" href="#">Shop</a>
        </div>
    </div>
</section>

<!-- Join the Community -->
<section class="bg-image-style" style="background-image: url('#');">
    <h2>{{page.cta.heading_html}}</h2>
    <h3>{{page.cta.subtitle}}</h3>
    <p>{{page.cta.description_html}}</p>
    <form>
        <!-- First Name -->
        <div class="mc-field-group md:col-span-2">
            <input type="text" name="FNAME" class="required text bg-transparent border border-white w-full"
                placeholder=" First Name" id="mce-FNAME" required="" value="">
        </div>

        <!-- Last Name -->
        <div class="mc-field-group md:col-span-2">
            <input type="text" name="LNAME" class="required text bg-transparent border border-white w-full"
                placeholder=" Last Name" id="mce-LNAME" required="" value="">
        </div>

        <!-- Email -->
        <div class="mc-field-group md:col-span-2">
            <input type="email" name="EMAIL" class="required email bg-transparent border border-white w-full"
                placeholder=" Email" id="mce-EMAIL" required="" value="">
        </div>

        <!-- Button -->
        <div class="clear col-span-1">
            <input type="submit" name="subscribe" id="mc-embedded-subscribe"
                class="button rounded-none py-0 cursor-pointer w-full" value="Submit">
        </div>
        </div>
    </form>
</section>

<section>
    Instagram Feed
</section>