---
layout: default 
seo: 
  title: This should appear in the browser tab
  description: 
  keywords: 
  social_image: 
  hide-from-google: false
---

<!-- Hero Banner -->
<section class="min-h-[90vh] bg-image-style">

</section>

<!-- About -->
<section class="grid grid-cols-3">
    <div>
        <p>We are creators of interiors and lifestyle images. Through our media channels we help businesses reach millions of people worldwide.</p>
    </div>
    <div>
        <h2>Work with us</h2>
        <p>Let's Connect</p>
        <form>
            <div class="mb-4">
                <input type="text" id="first-name" name="first-name" class="block border-b border-black w-full">
                <label for="first-name">First Name:</label>
            </div>

            <div class="mb-4">
                <input type="text" id="last-name" name="last-name" class="block border-b border-black w-full">
                <label for="last-name">Last Name:</label>
            </div>

            <div class="mb-4">
                <input type="text" id="company" name="company" class="block border-b border-black w-full">
                <label for="company">Company:</label>
            </div>

            <div class="mb-4">
                <label for="service" class="block mb-4">How can we help you?</label>
                <div class="mb-2">
                    <input type="checkbox" id="photography-villas" name="service[]" value="photography-villas">
                    <label for="photography-villas">Photography for Villas & Venus</label>
                </div>
                <div class="mb-2">
                    <input type="checkbox" id="photography-product" name="service[]" value="photography-product">
                    <label for="photography-product">Product Photography</label>
                </div>
                <div class="mb-2">
                    <input type="checkbox" id="styling" name="service[]" value="styling">
                    <label for="styling">Styling</label>
                </div>
                <div class="mb-2">
                    <input type="checkbox" id="videos" name="service[]" value="videos">
                    <label for="videos">Videos</label>
                </div>
                <div class="mb-2">
                    <input type="checkbox" id="advertising" name="service[]" value="advertising">
                    <label for="advertising">Advertising</label>
                </div>
                <div class="mb-2">
                    <input type="checkbox" id="other" name="service[]" value="other">
                    <label for="other">Other</label>
                </div>
            </div>

            <div class="mb-4">
                <input type="email" id="email" name="email" class="block border-b border-black w-full">
                <label for="email">Email:</label>
            </div>

            <button type="submit" class="button">Send</button>
        </form>
    </div>
        </form>
    </div>
</section>

<!-- Retreat Section -->
<section class="grid grid-cols-3">
    <div>
        <h2>Design & Interiors Retreat in Bali</h2>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</p>
    </div>
    <div class=”youtube-container”>
        <div class='embed-container'>
            <iframe src='https://www.youtube.com/embed/l0dbMaWb5m4?si=SQUYFTt3G62BZmR6' frameborder='0' allowfullscreen></iframe>
        </div>
    </div>
</section>

<!-- Articles Section -->
<section class="grid grid-cols-2">
    <!-- Build Diary -->
    <div>
        <div class="bg-image-style h-[30vh]" style="background-image: url('#');">
        </div>
        <h2>Build Diary</h2>
        <p>Read all about the process of building a villa in Bali. We meet different people and accompany them during the building process with all ups and downs.</p>
        <a href="#">Read more</a>
    </div>
    <!-- Latest Articles -->
    <div>
        <div class="sm:columns-3">
            {% for post in site.posts limit:8 %}
                {% include post-loop-item-alternate.html %}
            {% endfor %}
        </div>
        <div class="w-full text-center">
        <a href="#" class="button mt-5p mx-5p">Read all articles</a>
        </div>
    </div>
</section>