/* ----------- Import Tailwind -----*/
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light: #fbf9f8;
  --medium: #b56d59;
  --dark: #7a8b79;
}


/* ----------- Default Styles to apply to the whole project  --------- */

@layer base {

  body {
    background-color: var(--light);
    color: black;
  }

  nav a:hover {
    color: var(--dark);
    transition: 0.5s;
  }

    h1, h2, h3, h4, h5, h6, p  {
        margin-bottom: 1rem;
  }

  p:last-child {
    margin-bottom: 0;
  }

  ul {
    list-style-type: disc;
  }

}


/* ----------- ADDITIONAL COMPONENTS  --------- */

@layer components {

    .serif-md {
      @apply font-serif text-[2rem] mb-[0.5em]
    }

    .logo {
      width: 5rem;
      text-align: center;
    }

    .bg-image-style {
      background-color: rgb(181, 109, 89, .4);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center
    }
    
}