/* ----------- Import Tailwind -----*/
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --x-light: #f8f7f5;
  --light: #e9e3dd;
  --medium: #f0e1dd;
  --dark: #7a8b79;
  --feature: #b56d59;
  --feature-alt: #f8f7f5;
}


/* ----------- Default Styles to apply to the whole project  --------- */

@layer base {

  body {
    @apply bg-light font-sans tracking-wide font-normal text-black max-h-[100vh]
  }

  nav a:hover {
    color: var(--dark);
    transition: 0.5s;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin-bottom: 1rem;
  }

  p:last-child {
    margin-bottom: 0;
  }

  ul {
    list-style-type: disc;
  }

}


/* ----------- ADDITIONAL COMPONENTS  --------- */

@layer components {

  .serif-md {
    @apply font-serif text-[1.6rem] mb-[0.5em] tracking-wide
  }

  .sans-sm {
    @apply font-sans text-[1.5rem] uppercase tracking-wide
  }

  .sans-md {
    @apply font-sans text-[2rem]
  }

  .button-form {
    border: 1px solid inherit;
    padding: 0.5rem 1rem;
    display: inline-block;
    text-transform: uppercase;
  }

  .button-form:hover {
    @apply bg-light/30 duration-500
  }

  .link {
    @apply font-serif italic border-b border-black capitalize text-[1.1rem] pb-2 hover:text-feature hover:duration-500 hover:border-feature
  }

  .link-light {
    @apply font-serif italic border-b border-light capitalize text-[1.1rem] pb-2 hover:text-feature hover:duration-500 hover:border-feature
  }

  .logo {
    width: 5rem;
    text-align: center;
  }

  .bg-image-style {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center
  }

  #retreat .embed-container {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 Aspect Ratio */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    /* Adjust if necessary */
  }

  #retreat .embed-container iframe,
  #retreat .embed-container object,
  #retreat .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  /* Video */
  .youtube-container {
    max-width: 50%;
  }

  .embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
  }

  .embed-container iframe,
  .embed-container object,
  .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }


}