<form class="text-[1.1rem]">
    <div class="mb-4">
        <input type="text" id="first-name" name="first-name" class="block w-full border-b border-light bg-transparent">
        <label for="first-name">First Name:</label>
    </div>

    <div class="mb-4">
        <input type="text" id="last-name" name="last-name" class="block w-full border-b border-light bg-transparent">
        <label for="last-name">Last Name:</label>
    </div>

    <div class="mb-4">
        <input type="email" id="email" name="email" class="block border-b border-light bg-transparent w-full">
        <label for="email">Email:</label>
    </div>

    <button type="submit" class="button-form">Send</button>
</form>